@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap");
[class~="box"] img,
[class~="box"] [class~="overlay"],
.main {
  width: 100%;
}
#search {
  width: 31.25pc;
}
.main {
  min-height: 100vh;
}
* {
  padding-left: 0;
}
.main {
  background-color: black;
}
[class~="row"] {
  display: flex;
}
[class~="row"] {
  flex-wrap: wrap;
}
#search {
  padding-left: 22.5pt;
}
[class~="row"] {
  justify-content: space-between;
}
.box {
  padding-left: 7.5pt;
}
* {
  padding-bottom: 0;
}
#search {
  padding-bottom: 3.75pt;
}
#search {
  padding-right: 22.5pt;
}
[class~="box"] img {
  height: 100%;
}
#search {
  padding-top: 3.75pt;
}
.box span {
  color: orange;
}
.box span {
  display: inline-block;
}
#search {
  background-color: rgba(52, 73, 94, 0.7);
}
.box {
  padding-bottom: 7.5pt;
}
.box {
  padding-right: 7.5pt;
}
#search {
  outline: none;
}
.box {
  padding-top: 7.5pt;
}
.box {
  width: 25%;
}
.box {
  flex-basis: 25%;
}
.box span,
[class~="box"] [class~="overlay"] {
  font-weight: bold;
}
* {
  padding-right: 0;
}
* {
  padding-top: 0;
}
.box span {
  font-size: 18.75pt;
}
#search {
  border-left-width: medium;
}
#search {
  border-bottom-width: medium;
}
#search {
  border-right-width: medium;
}
[class~="box"] [class~="overlay"] {
  max-height: 100%;
}
.box {
  height: 300pt;
}
#search {
  border-top-width: medium;
}
[class~="box"] [class~="overlay"] {
  min-height: auto;
}
* {
  margin-left: 0;
}
.box,
.box {
  border-radius: 5px;
}
[class~="box"]:hover [class~="overlay"] {
  bottom: 0%;
}
.box {
  overflow: hidden;
}
#search {
  border-left-style: none;
}
#search {
  border-bottom-style: none;
}
#search {
  border-right-style: none;
}
#search {
  border-top-style: none;
}
.box {
  position: relative;
}
#search {
  border-left-color: currentColor;
}
[class~="box"] [class~="overlay"] {
  position: absolute;
}
#search {
  border-bottom-color: currentColor;
}
[class~="box"] [class~="overlay"] {
  bottom: -100%;
}
[class~="title"] {
  width: 100%;
}
* {
  margin-bottom: 0;
}
#search {
  border-right-color: currentColor;
}
* {
  margin-right: 0;
}
#search {
  border-top-color: currentColor;
}
.overlay h2 {
  margin-bottom: 0.104166667in;
}
[class~="title"] {
  display: flex;
}
[class~="box"] [class~="overlay"] {
  padding-left: 1.25pc;
}
[class~="box"] [class~="overlay"] {
  padding-bottom: 1.25pc;
}
#search {
  border-image: none;
}
[class~="title"] {
  justify-content: space-between;
}
[class~="box"] [class~="overlay"] {
  padding-right: 1.25pc;
}
[class~="box"] [class~="overlay"] {
  padding-top: 1.25pc;
}
#search {
  box-shadow: 0pt 0px 0.75pt white;
}
#search {
  color: White;
}
* {
  margin-top: 0;
}
[class~="box"] [class~="overlay"] {
  border-radius: 10px 10px 0pt 0in;
}
#search {
  margin-top: 10px;
}
[class~="box"] [class~="overlay"] {
  left: 0;
}
#search {
  font-size: 0.3125in;
}
#search {
  border-radius: 1.5625pc;
}
* {
  font-family: "Lato", sans-serif;
}
#search {
  transition: 1s;
}
* {
  box-sizing: border-box;
}
#search {
  margin-bottom: 0.9375pc;
}
[class~="box"] [class~="overlay"] {
  transition: 0.5s;
}
[class~="box"] [class~="overlay"],
#search:focus {
  background-color: white;
}
#search:focus {
  color: black;
}
